* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
body {
  font-size: 16px;
  min-width: 300px;
}
.padding20 {
  padding: 20px;
}
img {
  width: 200px;
}

/* HEADER */
header {
  background-color: rgb(246, 207, 135);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}
nav {
  display: flex;
  gap: 20px;
}
nav > button {
  border-radius: 30px;
  border-width: 3px;
  border-style: solid;
  font-size: 1rem;
  background-color: lightpink;
  border-color: rgb(165, 125, 82);
  width: 80px;
  padding: 8px 10px;
}
button[data-status='closed'] {
  box-shadow: 0 5px rgb(165, 125, 82);
  translate: 0 -3px;
}
button[data-status='open'] {
  border-color: rgb(91, 59, 24);
}

/* HOME PAGE */
.welcome {
  background-color: rgb(251, 245, 238);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-items: stretch;
  justify-content: center;
  gap: 20px;

  > div:first-of-type {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 300px;
  }
  > div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    gap: 20px;
    text-align: center;
  }
}
.bubble-section {
  padding: 20px;
  display: flex;
  justify-content: center;
  
  > div {
    border: 3px solid orange;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(251, 245, 238);
    width: 800px;
    
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: auto max-content;
    align-items: center;

    > h2 {
      text-align: right;
    }
  }
}

/* MENU and CONTACT PAGES*/
.menu-div,
.items-div {
  display: flex;
  flex-wrap: wrap;
  justify-items: stretch;
  gap: 20px;

  > div {
    flex: 1;
  }
}
.menu-div img {
  width: 150px
}
.border-div {
  border: 3px solid orange;
  border-radius: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.dish-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}